redirect 301 /cgi-bin/inc/product3.inc.php http://www.orphadata.org/cgi-bin/rare_free.html
redirect 301 /cgi-bin/inc/product1.inc.php http://www.orphadata.org/cgi-bin/rare_free.html
redirect 301 /cgi-bin/inc/ordo_orphanet.inc.php http://www.orphadata.org/cgi-bin/index.php#ontologies 
redirect 301 /cgi-bin/inc/about.inc.php http://www.orphadata.org/cgi-bin/index.php#about
redirect 301 /cgi-bin/index.php/faq.html http://www.orphadata.org/cgi-bin/index.php#ontologies
redirect 301 /cgi-bin/inc/overview.inc.php http://www.orphadata.org/cgi-bin/faq.html
redirect 301 /cgi-bin/inc/sparql_hoom.inc.php http://www.orphadata.org/cgi-bin/sparql.html
redirect 301 /cgi-bin/inc/hoom_orphanet.inc.php http://www.orphadata.org/cgi-bin/index.php#ontologies

