/* PATH FONTS */
@font-face {
  font-family: 'icons-orphanet';
  src: url('../fonts/icons-orphanet.eot?xylt9b');
  src: url('../fonts/icons-orphanet.eot?xylt9b#iefix') format('embedded-opentype'), url('../fonts/icons-orphanet.woff2?xylt9b') format('woff2'), url('../fonts/icons-orphanet.ttf?xylt9b') format('truetype'), url('../fonts/icons-orphanet.woff?xylt9b') format('woff'), url('../fonts/icons-orphanet.svg?xylt9b#icons-orphanet') format('svg');
  font-weight: normal;
  font-style: normal;
}
i[class^="ad-"],
i[class*=" ad-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons-orphanet' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ad-link-ext:before {
  content: "\e91c";
}
.ad-menu2:before {
  content: "\e91b";
}
.ad-home:before {
  content: "\e922";
}
.ad-image:before {
  content: "\e93e";
}
.ad-images:before {
  content: "\e93f";
}
.ad-livre:before {
  content: "\e944";
}
.ad-books:before {
  content: "\e920";
}
.ad-folder-open:before {
  content: "\e931";
}
.ad-contacts:before {
  content: "\e948";
}
.ad-link:before {
  content: "\e9cb";
}
.ad-newsletter:before {
  content: "\e900";
}
.ad-plus:before {
  content: "\e903";
}
.ad-user:before {
  content: "\e906";
}
.ad-imprimer:before {
  content: "\e902";
}
.ad-adresse:before {
  content: "\e904";
}
.ad-download:before {
  content: "\e905";
}
.ad-drop:before {
  content: "\e908";
}
.ad-alerte:before {
  content: "\e909";
}
.ad-fleche-haut:before {
  content: "\e94c";
}
.ad-fleche-bas:before {
  content: "\e94d";
}
.ad-fleche-gauche:before {
  content: "\e94e";
}
.ad-fleche-droite:before {
  content: "\e94f";
}
.ad-pdf:before {
  content: "\e914";
}
.ad-play-rond:before {
  content: "\e915";
}
.ad-telephone:before {
  content: "\e918";
}
.ad-partage:before {
  content: "\ea82";
}
.ad-twitter:before {
  content: "\ea96";
}
.ad-youtube:before {
  content: "\ea9d";
}
.ad-facebook:before {
  content: "\ea91";
}
.ad-linkedin:before {
  content: "\eac9";
}
.ad-google-plus:before {
  content: "\ea8c";
}
.ad-tumblr:before {
  content: "\eaba";
}
.ad-vk:before {
  content: "\ea98";
}
.ad-lanyrd:before {
  content: "\eaa2";
}
.ad-document:before {
  content: "\e901";
}
.ad-aide:before {
  content: "\e907";
}
.ad-supportgroup:before {
  content: "\e90a";
}
.ad-education:before {
  content: "\e90b";
}
.ad-clinics:before {
  content: "\e90c";
}
.ad-contact:before {
  content: "\e90d";
}
.ad-edit:before {
  content: "\e90e";
}
.ad-gene:before {
  content: "\e90f";
}
.ad-disease:before {
  content: "\e911";
}
.ad-drugs:before {
  content: "\e912";
}
.ad-directory:before {
  content: "\e913";
}
.ad-researchtrials:before {
  content: "\e916";
}
.ad-search:before {
  content: "\e917";
}
.ad-statistic:before {
  content: "\e919";
}
.ad-clinicallabs:before {
  content: "\e91a";
}
.ad-close:before {
  content: "\e906";
}
